@use '../custom' as *;

// Display 1
.display-1 {
    
    &--title {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 600;

        // fading highlight on name
        &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 80%;
            width: 100%;
            height: 2rem;
            background-image: linear-gradient(to right, $secondary transparent);
        }
    }
}

// Display 2

.display-2 {
    
    &.display-2--name {
        font-size: 2.3rem;
        text-transform: capitalize;

        strong {
            display: block;
        }
    }

    &.display-2--title  {
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: $secondary;
        padding: 0.3rem 0.5rem; 
    }    
}


// heading line
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}